*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Damion', cursive;
font-family: 'Krona One', sans-serif;
font-family: 'Mrs Saint Delafield', cursive; */
.page1, .page2{
    width: 100vw;
    height: 100vh;
}
.page1{
    background-color: #f7f0d2;
}
.center-content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.center-content p{
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    font-size: 4rem;
    color: #f29088;
}
.center-content h1{
    font-family: 'Krona One', sans-serif;
    font-weight: 900;
    font-size: 5.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #7ec69e;
}
.center-content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    background-image: url(./images/overlay.png);
    overflow: hidden;
}
.center-content::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    background-image: url(./images/overlay.png);
    overflow: hidden;
    transform: rotate(180deg);
}

/* page2 */
.page2{
    padding: 30px;
}
.card-body, .card-content-area{
padding: 15px;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border: 1px dashed #f29088; 
}
.card-content-area{
    border: 1px dashed #7ec69e;
    flex: 1 1 50%;
    padding: 30px;
}
.postage, .writing{
    width: 100%;
}
.writing p{
    font-family: 'Mrs Saint Delafield', cursive; 
    font-size: 3rem;
    padding-right: 80px;
    text-align: justify;
    color: blue;
}
.postage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.postage .thanks{
    width: 100%;
    text-align: end;
}
.address{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.address span{
    padding: 20px;
    border: 2px solid black;
    font-size: 1.2rem;
    font-weight: 500;
}
.address p {
    font-size: 14px;
    color: #686868;
}
.jontan-area p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 63px;
}
@media (max-width:900px) {
    .page1{
        height: 100vh;
    }
    .page2{
        height: max-content;
        padding: 15px;
    }
    .card-body, .card-content-area{
        padding: 5px;
    }
    .card-content-area{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;
    }
    .center-content p{font-size: 2rem;}
    .center-content h1{font-size: 3rem;}
    .writing p{padding: 0;font-size: 2rem;line-height: 30px;}
    .address span {
        padding: 10px;
        font-size: 1rem;
    }
    .jontan-area p {
        font-size: 1rem;
    }
    .jontan-area h2 {
        font-size: 1rem;
    }
}